body{
    color:#000;
}

a{
    color:#000;
}

.logo{
    margin-bottom:20px;
}


#top-main {
    background-repeat: no-repeat;
    background-position: top;
    height: auto;
    background-size: cover;
    border-bottom: 1px solid #e3e3e3;
    color: #000;



    &.header-lg {
        min-height: 480px;
    }

    &.header-sm {
        min-height: 320px;
    }
}

@include media-breakpoint-down(sm) {
    .parallax-mirror {
        opacity: 0.3;
    }
}

.bg-img {
    background-color: #FFF;
    background-repeat: no-repeat;
    background-position: top right;
    height: auto;
    background-size: contain; // border-bottom: 1px solid #e3e3e3;
}




.top-main-text {

    hr {
        background: #000;
        width: 90%;
        float: left;
    }


    h2 {
        font-weight: 300;
        font-size: 48px;
        line-height: 57px;
        color: #000;
    }
}

.black-bg {
  background: #000; }


.plan-box {
 color:#FFF;
 padding-top:50px;
 padding-bottom:50px;
  position: relative; }
  .plan-box::before {
    content: '';
    position: absolute;
    top: -65px;
    margin-left: -50px;
    left: 50%;
    z-index: 10;
    width: 100px;
    height: 100px;
    background: url("../img/calendar.svg") no-repeat top left;
    background-size: cover; }
    @media (max-width: 768px) {
      .plan-box::before {
        width: 75px;
        height: 75px;
        margin-left: -37px;
        top: -45px; } }
  .plan-box:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid #000;
    position: absolute;
    bottom: -25px;
    left: 50%;
    margin-left: -50px; }





.product-box {


    @media (max-width: $md-max) {
        margin-top:50px;
    }


    border:1px solid #000;

    .product-img {
        height: 228px;
        margin-bottom: 30px;
        margin-top: 30px;

        img {
            max-height: 228px;
        }
    }

    .product-desc {
        padding: 0px 15px;
        height: 100px;
    }
    h2.title24 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .product-cta {
        text-align: center;
        position: relative;
        a {
            text-decoration: none;
        }
        .price {
            display: inline;
            width: 30%;
            float: left;
            line-height: 39px;
            border-top: 1px solid  #000;
        }

        .add-cart {
            width: 70%;
            background:  #000;
            height: 40px;
            float: left;
            line-height: 40px;
            position: relative;
            color: #FFF;
            transition: background 0.3s;

            &:hover {
                background:  #CCC;
                color:#000;
            }
        }

        .added_to_cart {
            width: 70%;
            background: #000;
            height: 40px;
            float: left;
            line-height: 40px;
            position: relative;
            color: #FFF;
        }
    }
}

.silver {
    text-align: center;
    color: #000;
    background-image: -webkit-linear-gradient(top left, #E1E1E1 0%, #C0C0C0 100%);
    background-image: -o-linear-gradient(top left, #E1E1E1 0%, #C0C0C0 100%);
    background-image: linear-gradient(to bottom right, #E1E1E1 0%, #C0C0C0 100%);
    border-bottom: 1px solid #000;
    height: 60px;
    line-height: 60px;
}

.gold {
    text-align: center;
    color: #000;
    background-image: -webkit-linear-gradient(top left, #ECD868 0%, #D4AF37 100%);
    background-image: -o-linear-gradient(top left, #ECD868 0%, #D4AF37 100%);
    background-image: linear-gradient(to bottom right, #ECD868 0%, #D4AF37 100%);
    border-bottom: 1px solid #000;
    height: 60px;
    line-height: 60px;
    color: #FFF;
}


.platinum {
    text-align: center;
    color: #000;
    border-bottom: 1px solid #000;
    height: 60px;
    line-height: 60px;
    color: #000;
    background-image: -webkit-linear-gradient(top left, #F3F3F3 0%, #E3E3E3 100%);
    background-image: -o-linear-gradient(top left, #F3F3F3 0%, #E3E3E3 100%);
    background-image: linear-gradient(to bottom right, #F3F3F3 0%, #E3E3E3 100%);
}

.product-box-green {

    @media (max-width: $md-max) {
        margin-top:50px;
    }

    background: #000;
    text-align: center;
    padding: 20px 10px;
    color: #FFF;
    height:480px;

    .btn-cta-learn-more {
        background: none;
        border: 1px solid #FFF;
        color: #FFF;
        transition: background 0.3s;

        &:hover {
            background: #000;
        }
    }
}


 .btn-questions{
        background: #FFF;
        border: 1px solid #000;
        color: #000;
        transition: background 0.3s;
        font-size:1.5rem;

        &:hover {
            background: #000;
            color:#FFF;
            border: 1px solid #EEE;
        }
    }




.mt25 {
    margin-top: 25px;
}

.mt50 {
    margin-top: 50px;
}

.mt100 {
    margin-top: 100px;
}

.mt125 {
    margin-top: 125px;
}


.mb25 {
    margin-bottom: 25px;
}

.mb50 {
    margin-bottom: 50px;
}

.mb100 {
    margin-bottom: 100px;
}

.mb125 {
    margin-bottom: 125px;
}


.m100 {
    margin-top: 100px;
    margin-bottom: 100px;
}

.m50 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.m25 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.p25 {
    padding-top: 25px;
    padding-bottom: 25px;
}

.p50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.p100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

footer{
    background:#000;
    color:#FFF;
}

.modal-body{
    color: #181818;
    
    h3{
        margin:20px 0px;
    }
    p{
        margin:20px 0px;
    }
    .view-project{  
        margin-top:20px;
        color:#181818;
        text-decoration:underline!important;
        float:right;
        &:hover{
            color:#000;
        }
    }
}
