 @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

 body {
     font-family: 'Roboto', sans-serif;
 }


 a {

     -o-transition: .5s;
     -ms-transition: .5s;
     -moz-transition: .5s;
     -webkit-transition: .5s;
     transition: .5s;
 }


 
.title48{
	font-size:48px;
		font-weight: 300;

}

.title36{
	font-size:36px;
	font-weight: 300;
}


.title24{
	font-size:24px;
	font-weight: 300;
}



.title20r{
	font-size:20px;
	font-weight: 300i;
}


.small{
	font-size:12px;
	font-weight: 300;
	line-height: 0px;
}